# Copie este arquivo para ".env" e ajuste a senha.
#
# Regras do SQL Server:
# - mínimo 8 caracteres
# - deve conter letra maiúscula, letra minúscula, número e caractere especial
#
# Exemplo válido: Senha@123

MSSQL_SA_PASSWORD=Senha@123

